<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silabs.eggboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Marshmallow 6.0 and above -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="com.silabs.eggboard.common.app.ThunderBoardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Eggboard"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.silabs.eggboard.scanner.ui.ScannerActivity"
            android:label="@string/Eggboard"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.silabs.eggboard.settings.ui.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme" />
        <activity
            android:name="com.silabs.eggboard.settings.ui.SettingsEditActivity"
            android:label="@string/settings_personal_info"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.silabs.eggboard.demos.ui.DemosSelectionActivity"
            android:label="@string/thunderboard"
            android:parentActivityName="com.silabs.eggboard.scanner.ui.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.silabs.eggboard.scanner.ui.ScannerActivity" />
        </activity>
       <activity
            android:name="com.silabs.eggboard.demos.ui.DemoMotionActivity"
            android:label="@string/demo_motion"
            android:parentActivityName="com.silabs.eggboard.scanner.ui.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme" />
       <!-- <activity
            android:name="com.silabs.eggboard.demos.ui.DemoEnvironmentActivity"
            android:label="@string/demo_environment"
            android:parentActivityName="com.silabs.eggboard.scanner.ui.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme" />
        <activity
            android:name="com.silabs.eggboard.demos.ui.DemoIOActivity"
            android:label="@string/demo_io"
            android:parentActivityName="com.silabs.eggboard.scanner.ui.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme" /> -->
        <activity
            android:name="com.silabs.eggboard.settings.ui.BeaconNotificationsActivity"
            android:label="@string/settings_beacon_notifications"
            android:parentActivityName="com.silabs.eggboard.settings.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTranslucentTheme" />
    </application>

</manifest>